@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap");

:root {
  --primary-color: #f8f6f2;
  --text-color: #b0daf0;
  --bg-color: #19191c;
  --accent-color: rgb(153, 198, 141);
}

.profile-container {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
  padding: 3rem 3rem;
  border: 1px solid var(--outline);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.profile-img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border: 1px solid var(--bg-color);
  border-radius: 50px;
}

.profile-about {
  display: flex;
  flex-direction: row;
  font-family: "Noto Serif Display", serif;
  align-items: center;
  padding-bottom: 4%;
  border-bottom: 2px solid var(--bg-color);
}
@font-face {
  font-family: "Gluten-Black";
  src: url("/Users/meesha_zima/Library/Fonts/Gluten-Black.ttf")
    format("truetype");
}

.profile-name {
  font-family: "Dela Gothic One", cursive;
  font-size: 40px;
  margin: 30px;
  margin-bottom: 40px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  font-family: "Noto Sans Display", sans-serif;
}
