.student-delete {
  background-color: var(--primary-color);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 3px 6px;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin: 5px;
}

.student-delete:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: #000000;
  transform: scale(0.96);
}

.student-events {
  font-family: FA_APXKJQVUTG;
  src: url(/Users/meesha_zima/Library/Fonts/FA_APXKJQVUTG.ttf);
  font-size: 40px;
  clip-path: inset(5px 0 0 0);
  margin-top: 40px;
}

.student-signed-up-event {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 25px;
}

.student-event-details {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 10px;
}
