.profile-view-button,
.profile-edit-button,
.profile-delete-button {
  background-color: var(--primary-color);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 3px 6px;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin: 5px;
}

.profile-view-button:hover,
.profile-edit-button:hover,
.profile-delete-button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: #000000;
  transform: scale(0.96);
}

.events-title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  text-decoration: underline;
}

.profile-events {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 25px;
  margin: 25px;
}
