@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f8f6f2;
  --text-color: #b0daf0;
  --bg-color: #19191c;
  --accent-color: rgb(153, 198, 141);
}

.event-details-container {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
  padding: 1rem 3rem;
  border: 1px solid var(--outline);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.event-details-container > h1 {
  color: var(--bg-color);
}

.event-primary-img {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

.event-name {
  font-family: Sniglet;
  src: url(/Users/meesha_zima/Library/Fonts/Sniglet.ttf);
  font-size: 70px;
}

.event-tagline {
  font-family: "Noto Serif Display", serif;
  font-weight: 200;
  font-style: italic;
  margin: 20px;
}

.back-button,
.profile-button {
  background-color: var(--primary-color);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 13px;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  width: auto;
  margin-bottom: 30px;
  margin-left: 10px;
}

.back-button:hover,
.profile-button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: #000000;
  transform: scale(0.96);
}

.primary-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.primary-info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.secondary-info {
  margin: 20px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.objective-info,
.teacher-info,
.footer-info {
  margin: 20px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}
