.event-teacher-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--bg-color);
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
