:root {
  --primary-color: #f8f6f2;
  --text-color: #b0daf0;
  --bg-color: #19191c;
  --accent-color: rgb(153, 198, 141);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--accent-color);
  width: 100%;
  height: 60px;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  color: var(--bg-color);
}

.navbar-link {
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: var(--text-color);
}
