:root {
  --primary-color: f8f6f2#;
  --text-color: #b0daf0;
  --bg-color: #19191c;
  --accent-color: #99c68d;
}

.container-login {
  text-align: center;
  margin-top: 120px;
}

.community {
  padding-bottom: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.register-name {
  font-family: Sniglet;
  src: url(/Users/meesha_zima/Library/Fonts/Sniglet.ttf);
  font-size: 40px;
}

.register-please {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  margin: 20px;
  font-size: 20px;
}

.tagline {
  font-family: FA_APXKJQVUTG;
  src: url(/Users/meesha_zima/Library/Fonts/FA_APXKJQVUTG.ttf);
  font-size: 50px;
  clip-path: inset(3px 0 0 0);
  color: var(--text-color);
}

.form-login {
  /* position: relative; */
  /* z-index: 1; */
  background: var(--primary-color);
  max-width: 360px;
  margin: 60px auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
}

.register-button,
.login-btn {
  background-color: var(--primary-color);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.register-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.register-button:hover,
.login-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: #000000;
  transform: scale(0.96);
}

.title {
  font-family: Sniglet;
  src: url(/Users/meesha_zima/Library/Fonts/Sniglet.ttf);
  font-size: 150px;
}

.form-teacher {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
}
