:root {
  --primary-color: #f8f6f2;
  --text-color: #b0daf0;
  --bg-color: #19191c;
  --accent-color: rgb(153, 198, 141);
}

.form-container {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
  padding: 2rem 2rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-btn {
  background-color: var(--primary-color);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px;
  outline: none;
  padding: 8px 13px;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  width: auto;
}

.post-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: #000000;
  transform: scale(0.96);
}

@font-face {
  font-family: "Gluten-Black";
  src: url("/Users/meesha_zima/Library/Fonts/Gluten-Black.ttf")
    format("truetype");
}

.edit-name {
  font-family: "Gluten-Black", Arial, sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}
.edit-category {
  font-family: "Gluten-Black", Arial, sans-serif;
  font-size: 30px;
  margin: 10px;
}

.edit-category-select {
  margin-bottom: 30px;
}
